body{
    background-color: whitesmoke !important;
}
h1{
    margin-top: 10px !important;
}
.input{
    vertical-align: middle;
    border-radius: 5px;
    border: none;
    padding: 6px 6px 6px 12px;
}
.add-button{
    padding: 9px !important;
    margin: 10px;
}
.add-icon{
    display: flex;
}